/* HTML의 구조 와 똑같은 순서로 CSS도 작성하는 것이 유지 보수하는데 편리하다. */

body {
    margin: 0; /* 브라우저 마다 기본적으로 여백 값이 설정 되어 있어서 초기화 */
    padding: 0;
}
.header {
    background: white;      /* 헤더의 가로 너비는 지정 안해주면 자동으로 100%
                               세로 너비는 안에 컨텐츠에 따라 자동으로 크기 지정 */
    border-bottom: 1px solid lightgray;
}
.container {
    width: 1750px;
    margin: auto; /* 980만큼의 가로 너비를 빼고 나머지를 좌우 바깥 여백을 가짐으로써 가운데로 모이게 해줌 */
}
.container-left{
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo {
    margin-right: 5px;
    float: left;
}
.logo img { /* .logo img: 로고라는 클래스 안의 태그들 중에 img 태그를 선택 */
    display: block;

}
.menu {
    float: left;
}
.menu-item {
    float: left; /* 레이아웃을 수평으로 만들 수 있다. */
    padding: 8px 10px;
}
.clearfix::after { /* float을 해제 하는 것 */
    content:"";
    display: block;
    clear: both;
}